.star-background {
  z-index: -10;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #397374 0%, #567a7b 100%);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.star {
  position: absolute;
  animation: animStar 10s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-200px);
  }
}
